:root {
    --bgcolor: white;
    --color: black;
}

.cartCard img {
    max-width: 500px;
    height: 300px !important;
}

.cartCard {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column;
    background: var(--bgcolor) !important;
}

.cartCard * {
    color: var(--color) !important;
}

.descr {
    text-align: center;
    min-width: 300px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
}

.centeredCart {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.centeredCart button {
    color: black !important;
    outline: solid blueviolet;
}

.centeredCart button:hover {
    background: #1a202c;
    outline: solid #1a202c;
}

.centeredCart .buy:hover {
    color: green !important;
}

.centeredCart .delete:hover {
    color: red !important;
}

.cartTotals {
    display: flex;
    width: 100vw;
    flex-flow: column;
    align-items: center;
}

.cartTotals .cartTotalsBackground {
    width: max-content;
    background: #1a202c;
    margin-bottom: 10px;
    padding: 0px 5px;
    color: white;
}