.searchPanel {
    z-index: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.searchPanel * {
    width: 50vw;
    font-size: calc(12px + 1vw);
}

.card img {
    max-width: 500px;
    height: 300px !important;
}

.card * {
    color: black !important;
}

.descrMain {
    min-width: 300px;
    max-width: 300px;
}