.container {
    background: #393e46;
    display: flex;
    min-height: 100vh;
    height: fit-content;
    justify-content: center;
    width: fit-content;
    min-width: 100vw;
}

header {
    z-index: 0;
    display: flex;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    position: absolute;
    left: 0;
    font-size: calc(8px + 1.1vh);
    align-items: center;
    width: calc(100vw - 20px);
}

.main {
    margin-top: 50px;
    width: 95vw;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

header img {
    width: 75px;
}

header a {
    text-decoration: none;
}

.rightHeader {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

footer {
    bottom: 100px;
    display: flex;
    height: 1vh;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
    left: 10px;
    flex-direction: column;
    gap: 20px;
}

footer .media {
    display: flex;
    flex-flow: column;
}

footer .media img {
    width: 50px;
    position: absolute;
    bottom: 25px;
    border-radius: 100%;
}

footer .media a {
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: blueviolet !important;
}

a:visited, a {
    color: white;
}